<nav class="navbar navbar-light bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/img/icone.png" alt="" width="100" height="35">
        </a>
    </div>
</nav>